<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Slider</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container" id="app">
      <div class="items" @mouseover="intervalF('clear')" @mouseleave="intervalF">
        <div class="prev" @click="prev"></div>
        <div class="next" @click="next"></div>
        <div class="thumbnails">
          <div v-for="(image, index) in images" class="box" :class="currentImg === index ? 'active' : ''" @click="selectImg(index)">
            <img :src="`img/${image.image}`" :alt="`Immagine ${index}`">
          </div>
        </div>
        <div v-for="(image, index) in images" class="item" :class="currentImg === index ? 'active' : ''">
          <img :src="`img/${image.image}`" :alt="`Immagine ${index}`">
          <div>
            <h2>{{ image.title }}</h2>
            <p>{{ image.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- VueJs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Fine VueJs -->
    <script src="js/main.js"></script>
  </body>
</html>